* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.container > div {
    width: 25%;
    height: 25vh;
    border: 1px solid #bbb;
}